.blog-details button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    margin: 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  .blog-details h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 10px;
  }
  .blog-details div {
    margin: 20px 0;
  }
  article{
    width: 1000px;
    border-top: 2px solid #f1356d;
    padding: 20px;
    margin:auto;
    align-items: center;
}